body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Utilties */

img {
    width: 100%;
    height: 100%;
    display: block;
}


.heading-1 {
    font-size: 5rem;
    letter-spacing: 2px;
}

.heading-2 {
    font-size: 4rem;
    font-weight: 600;
}

.heading-3 {
    font-size: 2.5rem;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text {
    font-size: 1.6rem;
    color: rgb(14, 14, 62);
}

.btn {
    display: inline-block;
    border: none;
    background:linear-gradient(to right bottom, rgb(224, 18, 52),rgb(164, 11, 37));
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
}

/* Header */
.header {
    background-image: linear-gradient(to right bottom, rgba(2, 2, 12, 0.6), rgba(2,2,32,.45)), url(./images/donation9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header__heading {
    color: rgb(255, 250, 250);
}


.header__text {
    color: #fff;
}

.container {
    width: calc(100vw - 50%);
    margin: 0 auto;
}

.header__btn {
    margin-top: 2rem;
}

/* Donate-today */

.donate-today {
    padding: 8rem 0;
}

.donate-today__heading {
    margin-bottom: 1.5rem;
}

.amount__list {
    list-style: none;
    margin: 6rem 0;
    gap: 1.5rem;
}

.amount__item {
    font-size: 2.5rem;
    color: rgb(50, 50, 90);
    font-weight: 600;
    padding: 2.5rem 1.5rem;
    background-color: rgba(235, 235, 235, .5);
    border-radius: 4px;
}

.amount__item--current {
    border: 3px solid rgb(224, 18, 52);
    color: rgb(224, 18, 52);
}

.amount__other {
    display: inline-block;
    font-size: 1.6rem;
    color: rgb(188, 188, 188);
    margin-bottom: 1rem;
}

.amount__horiz-line {
    border: .7px solid rgb(245, 245, 245);
    margin-bottom: 5rem;
}

/* Donate-plan */


.donate-plan__text-container {
    padding: 0 !important;
}

.donate-plan__cards {
    gap: 2rem;
    padding: 8rem 16rem;
}

.card {
    padding: 3rem 2rem 3rem 1rem;
    border-radius: 4px;
}

.card__img {
    width: 6rem;
    height: 6rem;
}

.card--1 {
    background-color:rgba(171, 171, 171, .35);;
}

.card--2 {
    background-color: rgba(171, 171, 171, .45);
        
}

.card--3 {
    background-color: rgba(171, 171, 171, .55);
}

/* Help */

.help__flex-width {
    gap: 4rem;
    padding: 8rem 16rem;
}

.help__flex-width > * {
    flex: 1 1 50%;
}

.help__img {
    background-color: red;
    border-radius: 10px;
}

/* Team */

.volunteer__flex-width {
    padding: 8rem 16rem;
    gap: 2rem;
}

.volunteer__flex-width > * {
    flex: 1 1 33.3%;
    object-fit: cover;
    object-position: top;
}

.volunteer__card {
    position: relative;
}

.volunteer__img {
    height: 35rem;
    border-radius: 4px;
}

.volunteer__info {
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
}

.volunteer__info-heading {
    margin: .8rem 0;
}

.volunteer__position {
    margin: 0;
}


/* Newsletter */

.newsletter {
    padding: 3rem 0 10rem;
}

.newsletter__heading {
    margin-bottom: 1rem;
}

.newsletter__text {
    margin-bottom: 5rem;
}

.newsletter__form {
    background-color: rgba(209 ,208 ,208,30%);;
    padding: 6rem;
    position: relative;
}

.newsletter__input {
    display: inline-block;
    width: 60%;

    padding: 1.2rem 2.5rem;
    background-color: rgb(182, 182, 182);
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
}

.newsletter__input::-webkit-input-placeholder {
    color: rgb(32, 32, 32);
    font-size: 1.6rem;
}

.newsletter__btn {
    border: none;
    border-radius:0 4px 4px 0;
    font-size: 1.6rem;
    background: linear-gradient(to right bottom, rgb(224, 18, 52), rgb(164, 11, 37));
    display: inline-block;
    padding: 1.2rem 3.5rem;
    color: #fff;
    position: absolute;
    right: 15rem;

}

/* Footer */

.footer {
    background-color: rgb(4, 3, 33);
    padding: 2rem 0;
    color: #fff;
}

.footer__heading {
    font-family: 'The Nautigal', cursive;
}

.footer__inspiration {
    font-size: 1.2rem;
}